<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <h3 th:text="${numberOfJobs} + ' results'"></h3>

    <!-- TODO #1 - Use a loop to display job results in a table. -->
    <span th:fragment="job-list">
        <th:block th:each="job : ${jobs}">
            <table class="job-listing">
                <tr>
                    <td>ID:</td>
                    <td th:text="${job.id}"></td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td th:text="${job.name}"></td>
                </tr>
                <tr>
                    <td>Employer:</td>
                    <td><a th:href="@{/list/jobs(column='employer',value=${job.employer})}"><span th:text="${job.employer}"></span></a></td>
                </tr>
                <tr>
                    <td>Location:</td>
                    <td><a th:href="@{/list/jobs(column='location',value=${job.location})}"><span th:text="${job.location}"></span></a></td>
                </tr>
                <tr>
                    <td>Position Type:</td>
                    <td><a th:href="@{/list/jobs(column='positionType',value=${job.positionType})}"><span th:text="${job.positionType}"></span></a></td>
                </tr>
                <tr>
                    <td>Skill:</td>
                    <td><a th:href="@{/list/jobs(column='coreCompetency',value=${job.coreCompetency})}"><span th:text="${job.coreCompetency}"></span></a></td>
                </tr>
            </table>
        </th:block>
    </span>

</div>

</body>
</html>